*{  
  
  margin: auto;
  padding: auto;
  ;
}
body{
  background-color: #f6d8ac;
}
.N2 {
  width: 95%;
  display: flex;
  justify-content: center;
  

}
.N3 {
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background-color:#2a6592;
  color: white;
  border-radius: 18px;
  text-align: center;
  transform: scale(0.9);
    transition: all 0.9s;
  
}
.N3:hover {
  transform: scale(1);
  box-shadow: 0 5px 10px -12.125px rgba(0, 0, 0, 0.2);}
.N1 {
   display: flex;
   flex-direction: column;
}
h1 {
   display: flex;
   justify-content: center;
   color: #8ec3eb;
}
h3{
  color: #19031a;
} 